<style>
    .table td,
    .table th { vertical-align: middle; }
    h1 { color: blue; }
    hr { background-color: #ddd; }
    .jumbotron { min-height: 100vh; }
</style>

<div class="jumbotron">
    
    <h1>Información del Servidor</h1>
    <br>

    {{#if hayInfo}}
    <div class="table-responsive">
        <table class="table table-dark">
            <tr>
                <th>Descripción</th>
                <th>Valor</th>
            </tr>
            {{#each info}}
            <tr>
                <td>{{this.key}}</td>
                <td>{{this.value}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{else}}
    <h3 class="alert alert-warning">No se encontro información disponible !!</h3>
    {{/if}}
    <br>
    <a href="/" type="button" class="btn btn-primary">VOLVER AL LOGIN</a>

</div>
